nav {
  display: flex;
  place-content: center space-between;
}

body {
  margin: 0;
}

#root {
  background-color: red;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.nav-items {
  padding: 0;
  margin: 0;
  align-items: center;
  gap: 1rem;
  display: flex;
  list-style: none;
}

footer {
  height: 20px;
  background-color: black;
  width: 100%;
  color: white;
  margin-top: auto;
}
