@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&display=swap");

body {
  padding: 0;
  margin: 0;
}

.main-navigation {
  display: flex;
  padding: 2rem 2rem;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
}

.hero-image {
  width: 100%;
  max-width: 900px;
  margin-top: 2rem;
}

.hero {
  display: grid;
  justify-items: center;
}

.hero h1 {
  font-family: "Poppins";
  justify-self: start;
  font-size: 3rem;
  margin-left: 3rem;
  margin-bottom: 0;
}

.hero p {
  font-family: "Poppins Regular";
  font-size: 1.2rem;
  justify-self: start;
  margin-left: 3rem;
  margin-top: 1rem;
  width: 60%;
}

.card {
  display: grid;
  max-width: 350px;
  position: relative;
}

.cards-container {
  display: flex;
  gap: 2rem;
  margin: 2rem 0rem 2rem 3rem;
  overflow-x: scroll; /* Enable horizontal scrolling */
  overflow-y: hidden; /* Hide vertical scrollbar, if not needed */
  white-space: nowrap;
}

.card img {
  border-radius: 1.5rem;
  max-width: 350px;
  height: 500px;
}

.label {
  position: absolute;
  background-color: white;
  color: black;
  top: 1rem;
  left: 1rem;
  z-index: 10;
  padding: 0.3rem 0.5rem;
  font-family: "Poppins";
  text-transform: uppercase;
}

.card-description {
  display: flex;
  font-family: "Poppins";
  align-items: center;
  gap: 0.3rem;
  font-size: 1.2rem;
  margin-top: 0.25rem;
}

.card h3 {
  font-family: "Poppins Light";
  margin: 0;
  margin-top: 0.75rem;
}

.card h2 {
  font-family: "Poppins Medium";
  margin: 0;
  margin-top: 0.75rem;
}

.light {
  font-family: "Poppins Light";
}
